//设计稿是750px
@function px2rem($px){
    //ihpne 375px除以10，则1rem则为酒味37.5px
    $rem:37.5px;
    @return ($px / $rem) + rem;
}
html{
    background-color: #f8f8f8;
}
.header{
    height: px2rem(40px);
    width: 100%;
    background-color: red;
    padding-left:px2rem(23px);
    box-sizing: border-box;
    .header-item{
        float: left;
        font-size:px2rem(16px);
        color: #ffcdce;
        margin-right:px2rem(20px);
        line-height:px2rem(40px);
        //  sass中&相当于父元素
        &:nth-child(2){
            color: #fff;
            font-size:px2rem(17px);
        }
    }
}
.banner-content{
    position: relative;
    .banner{
        width:100%;
        height:px2rem(190px);
        display: block;
    }
    .banner-title{
        position: absolute;
        left: px2rem(15px);
        bottom: px2rem(15px);
        color: #fff;
        font-size:px2rem(16px);
    }
}

.news-content{
    .news-item{
        width:100%;
        height:px2rem(90px);
        padding-left:px2rem(15px);
        padding-right: px2rem(15px);
        box-sizing: border-box;
    }
    .item-inner{
        position: relative;
        overflow: hidden;
        height:100%;
        border-bottom: px2rem(1px) solid #e5e5e5;
    }
    .news-img{
        float: left;
        display: block;
        margin-top: px2rem(10px);
        width:px2rem(95px);
        height:px2rem(70px);
        margin-right: px2rem(15px);
    }
    .news-title{
        color:#404040;
        font-size:px2rem(17px);
        margin-top: px2rem(16px);
        line-height: 20px;
    }
    .time{
        position: absolute;
        left: px2rem(105px);
        bottom:px2rem(17px);
        color: #888888;
        font-size: px2rem(12px);
    }
    .num{
        position: absolute;
        right:px2rem(4px);
        bottom:px2rem(17px);
        color: #888888;
        font-size: px2rem(12px);
        &:before{
            content: '';
            display: block;
            position: absolute;
            width: px2rem(21px);
            height:px2rem(20px);
            background-size: contain;
            top:px2rem(-3px);
            left:px2rem(-20px);
            background-image: url("../images/bb.jpg");
        }
    }
}
